.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.d-flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

html {
    font-size: 16px;
    color: #696868;
}

#header{

}

#nav1 {
    justify-content: flex-end;
    margin-right: 20px;
}

#nav1 li a {
    color: #696868;
    padding: 0 15px;
    border-right: 1px solid #4d4d4d;
}

#nav1 li a.lastchild {
    border: none;
}

.lozi {
    justify-content: space-between;
}

.lozi .logo{
    max-width: 180px;
    margin-left: 50px;
}

.lozi .logo span {
    display: block;
    font-size: 40px;
    color: #4d4d4d;
    font-weight: 750;
}

.sub-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}


.hotline{
    background-color: #ccc;
    margin-bottom: 20px;
    padding: 8px;
    max-width: 260px;
    text-align: center;

}

.hotline span {
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 650;
}
.category{

}
.cate-1{
    position: relative;
    margin-right: 30px;
    max-width: 260px;
}

.icon-arrow {
    position: absolute;
    right: 0px;
    top: 1px;
    background-color: #ccc;
    font-size: 16px;
    padding: 6px 5px 2px;
    text-align: center;
    cursor: pointer;
}

.cate-1 input, .cate-2 input {
    outline: none;
    border: 1px solid rgb(158, 158, 158);
    padding: 4px 8px;
}

.cate-2 input {
    width: 300px;
}

.go {
    border-radius: 3px;
    background-color: rgb(117, 77, 77);
    color: #fff;
    padding: 3px;
}

#nav2{
    max-width: 100%;
}

#nav2 li {
    margin-right: 5px;
    border: 3px solid rgb(151, 149, 149);
}

#nav2 li:last-child {
    margin-right: 0;
}

#nav2 li a {
    padding: 8px 47px;
    background-color: #B1004D;
    color: #fff;
    font-weight: 550;
    display: block;
}


.content-up{
    justify-content: space-between;
}

.banner{
    flex-basis: 75%;
}

.banner img {
    min-width: 100%;
    max-height: 440px;
    border: 1px solid rgb(195, 106, 106);

}

.sideb{
    border: 1px solid rgb(195, 106, 106);
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    max-height: 440px;
}
.search-trade{
    background-color: rgb(98, 47, 47);
    min-width: 100%;
    min-height: 90px;
    padding: 10px;
    box-sizing: border-box;
}
.search-trade h4 {
    padding-top: 0;
    margin: 6px 0;
    color :#fff;
}

.search-trade input {
    display: block;
    margin-bottom: 6px;
    width: 96%;
}

.search-trade button {
    background-color: rgb(141, 54, 54);
    color: #fff;
    font-size: 14px;
    font-weight: 550;
    padding: 4px 8px;
    cursor: pointer;
}
.most-sold{
    font-size: 16px;
}

.ms {
    border-bottom: 1px solid #4d4d4d;
}

.most-sold p {
    margin: 4px;
}

.most-sold h4 {
    display: inline-block;
    border-right: 1px solid #4d4d4d;
    padding-right: 8px;
}
.list-product-sm{
    margin-top: 4px;
}
.product-sm-item{
    margin-bottom: 10px;
    border-bottom: 1px solid #afafaf;
}

.product-sm-item:last-child {
    border: none;
    margin: 0;
}
.desc-product-sm-item{
    margin-left: 8px;
}

.name-product-sm-item{
    font-weight: 550;
    color: #4d4d4d;
    font-size: 14px;

}

.product{

}
.manu{

}
.content-down{

}
.list-product{

}

.list-product li {
    flex-basis: 25%;
    margin-right: 10px;
    border: 1px solid #4d4d4d;
}

.list-product li:last-child {
    margin-right: 0;
}

.box{
}
.box-header{
    font-weight: 550;
    font-size: 17px;
    padding: 12px 8px;
    background-color: #6b012f;
    color: #fff;
    border: 1px solid #fff;
}

.box-header i {
    margin-right: 6px;
    font-size: 18px;
}
.box-body{
    position: relative;
}
.text{
    position: absolute;
    bottom: 0;
    display: block;
    background-color: #000;
    opacity: 0.6;
    min-height: 40px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    box-sizing: border-box;
}

.text a {
    color: #fff;
    text-decoration: underline;
}

#nav-3 {
    padding: 4px 12px;
    background-color: #4d4d4d;

}

#nav-3 li {
    padding: 4px 8px;
}
#nav-3 li a {
    color: #fff;
    padding-right: 6px;
    border-right: 3px solid #fff;
    font-size: 14px;
    font-weight: 400;
}

#nav-3 li a.lastchild {
    border: none;
}

.chatall {
    background-color: #ccc;
    justify-content: space-between;
    font-size: 14px;
    padding: 8px 12px;
    color: #000;
}