.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none; 
}

.container-fluid {
    padding: 0!important;
}

* {
    font-size: 14px;
    box-sizing: border-box;
}

#header{
    background-color: #000000;
}

#top-header {
    color: #eeeeee;
    border-bottom: 1px solid #363636;
    padding: 5px 0;
}

.top-header__time__text,
.top-header__gmail,
.top-header__phone{
    display: flex;
    align-items: center;
}

.top-header__time__text i,
.top-header__gmail i,
.top-header__phone i{
    font-size: 11px;
    margin-right: 1px;
}

ul#main-menu {
    margin-bottom: 0;
}

.main-menu__item {
    margin: 0 6px;

}

.main-menu__item  a.main-menu__item__text {
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 32px 10px;
}

.main-menu__item  a.main-menu__item__text:hover {
    color: #e2524a
}

.main-menu__item{
    position: relative;
}

.main-menu__item:hover ul.sub-main-menu {
    display: block;
}

.sub-main-menu {
    position: absolute;
    top: 85px;
    background-color: #fff;
    z-index: 5;
    left: 12px;
    min-width: 200px;
    padding: 10px 0 25px 25px ;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px #d4b1b1;
    display: none;
}

.sub-main-menu li {
    padding-top: 10px;
}

.sub-main-menu li a {
    color: #5c5b5b;
    text-decoration: none;
}

.sub-main-menu li a:hover {
    color: #e2524a;
}

.middle-header__s-b i {
    font-size: 18px;
    color: #eeeeee;
    cursor: pointer;
}

.middle-header__s-b i:first-child {
    margin-right: 2px;
}

.middle-header__s-b i:last-child {
    margin-left: 2px;
    position: relative;
}

.middle-header__s-b i:last-child:after {
    font-family: "Font Awesome 6 Free"; 
    font-weight: "200";
    content: "2";
    background-color: red;
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 14px;
}

/* end: header */

.banner__text {
    position: relative;
    max-width: 500px;
    text-align: center;
    margin-left: 25%;
    margin-top: 15%;
}

.banner__text__sale {
    font-size: 18px;
    color: #000;
}

.banner__text__name {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    color: #e2524a;
}
.banner__text__desc {
    padding: 0 18px;
    margin-bottom: 40px;
}

#home-slide .carousel-indicators li.active {
    background-color: red;
}

button.button {
    padding: 5px 26px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    outline: none;
    border: none;
}

button.button1 {
    padding: 5px 26px;
    font-size: 18px;
    border: 1px solid #eee;
    background-color: #fff;
    color: #585858;
    outline: none;
}

.support-you {
    justify-content: space-evenly;
    margin: 85px 0;
}

.support-you__item {
    text-align: center;
    background-color: #f4f4f4;
    padding: 15px 0 25px;
    margin-right: 30px;
    flex-basis: 30%;
}

.support-you__item:hover i, .support-you__item:hover span{
    color: #e2524a;
}

.support-you__item:last-child {
    margin-right: 0;
}

.support-you__item i {
    display: block;
    font-size: 48px;
    color: #888787;
    margin-bottom: 8px;
}

.support-you__item span {
    font-weight: 550;
    font-size: 16px;
}

.product-new {
    margin-top: 85px;
}

.card-deck-title { 
    margin-bottom: 50px;
}

.card-deck-title__name {
    font-size: 30px;
    font-weight: bold;
}

.card-deck-title__desc {
    color: #837d7d;
}

.card-deck .card-body {
    padding: 20px 0 10px;
}

.card-deck {
   margin-bottom: 30px;

}

.card-deck .card {
    border: none;
}

.card-deck .star-comment {
    margin-bottom: 10px;
}

.card-deck .star-comment__s {
    color: #ffa500;

}

.card-deck .star-comment__c {
    color: #6c757d;
    margin-left: 4px;
}

.card-deck .product-name {
    color: #514545;
}

.card-deck .product-name:hover {
    color: #e2524a;
    cursor: pointer;
}
.card-deck .product-price {
    color: #514545;
    margin-top: 10px;
}

.desc-giay {
    position: relative;
    text-align: right;
    bottom: 0;
    margin-top: 42%;
}

h5.card-title.giay {
    font-size: 48px;
    color: #343434;
    font-weight: 400;

}

.product-bonus {
    margin-top: 30px;
}

.product-hot {
    margin-top: 85px;
}

.product-hot .prev-next {
    margin-bottom: 80px;
}

.product-hot .prev-next i{
    font-size: 18px;
    background-color: #343434;
    color: #fff;
    padding: 4px 7px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.product-hot .prev-next i:first-child {
    margin-right: 1px;
}

.product-hot .prev-next i:last-child {
    margin-left: 1px;
}

.product-hot .prev-next i:hover {
    background-color: #e2524a;
}

.post-share {
    margin-top: 75px;
    margin-bottom: 60px;
}

.card-text small {
    font-size: 11px;
    color: #313131;
}

.post-share .card-deck .card {
    border: 1px solid #eeeeee;
}

.card-body.card-body-share {
    padding: 10px 40px 50px;
}

.card-body__name{
    text-transform: uppercase;
}

.card-body__day{
    color: #6c757d;
    font-weight: 300px;
}

.card-body__tips{
    margin-top: 10px;
}




#footer {
    background-color: #000000;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 100px;
}

#footer .name-box {
    font-size: 16px;
    color: #e2524a;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__box-body p {
    cursor: pointer;
}

.footer__box-body i {
    margin-right: 4px;
}

/* end: footer */

#copyright {
    padding: 12px 0;
    background-color:#e2524a;;
    text-align: center;
}

#copyright span, #copyright i {
    color: #fff;
    text-transform: uppercase;
    font-weight: 550;
}
/* end: copyright */