@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

.gray-bg {
    background: #eef9ff
}

.boxed-btn {
    background: #fff;
    color: #ff3e7e!important;
    display: inline-block;
    padding: 18px 44px;
    border: 0;
    border: 1px solid #ff3e7e;
    letter-spacing: 3px;
    text-align: center;
    color: #ff3e7e;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0
}

.boxed-btn:hover {
    background: #ff3e7e;
    color: #fff!important;
    border: 1px solid #ff3e7e
}

.boxed-btn:focus {
    outline: none
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Fredoka One", cursive;
    color: #023c5a;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "DM Sans", sans-serif;
    color: #023c5a;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.mt-10 {
    margin-top: 10px
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-50 {
    margin-bottom: 50px
}

.img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.f-right {
    float: right
}

a,
.button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

a {
    color: #635c5c
}

a:hover {
    color: #fff
}

a:focus,
a:hover {
    text-decoration: none
}

a,
button {
    color: #fff;
    outline: medium none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a{
    color: inherit
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

#back-top {
    background: #ff3e7e;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, .2)
}

@media (max-width:575px) {
    #back-top {
        right: 16px
    }
}

#back-top a i {
    display: block;
    line-height: 50px
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width:575px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

.top-padding {
    padding-top: 120px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .top-padding {
        padding-top: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .top-padding {
        padding-top: 70px
    }
}

@media (max-width:575px) {
    .top-padding {
        padding-top: 70px
    }
}

.testimonial-padding {
    padding-top: 115px;
    padding-bottom: 100px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .testimonial-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .testimonial-padding {
        padding-top: 70px;
        padding-bottom: 70px
    }
}

@media (max-width:575px) {
    .testimonial-padding {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

.footer-padding {
    padding-top: 140px;
    padding-bottom: 10px
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 10px
    }
}

@media (max-width:575px) {
    .footer-padding {
        padding-top: 80px;
        padding-bottom: 10px
    }
}

.gray-bg {
    background: #eef9ff
}

.btn {
    background: #ff3e7e;
    font-family: "DM Sans", sans-serif;
    text-transform: capitalize!important;
    padding: 17px 31px;
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px!important;
    font-weight: 500!important;
    border-radius: 30px;
    line-height: 1;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #eb3773;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleY(0);
    border-radius: 0
}

.btn i {
    padding-right: 11px
}

.btn:hover {
    color: #fff!important
}

.btn:hover::before {
    transform: scaleY(1);
    z-index: -1
}

.btn_1 {
    font-family: "Fredoka One", cursive;
    background-color: #fff;
    border: 1px solid #ff3e7e;
    color: #232f55!important;
    display: inline-block;
    padding: 17px 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1;
    font-size: 16px
}

.btn_1 i {
    font-size: 16px;
    margin-right: 10px;
    color: #ff8b7a;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.btn_1:hover {
    background-color: #fff;
    border: 1px solid #ff3e7e;
    color: #ff8b7a!important
}

.boxed-btn2 {
    padding: 4px 20px!important
}

.header-area .header-top {
    background: #0094df;
    padding: 8px 210px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .header-area .header-top {
        padding: 8px 50px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .header-area .header-top {
        padding: 8px 50px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-area .header-top {
        padding: 17px 20px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-area .header-top {
        padding: 17px 20px
    }
}

.header-area .header-top .header-info-left ul li {
    color: #fff;
    display: inline-block;
    margin-right: 16px;
    font-size: 15px
}

.header-area .header-top .header-info-left ul li:last-child {
    margin-right: 0
}

.header-area .header-top .header-info-left ul li i {
    margin-right: 10px;
    color: #fff
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-area .header-top .header-info-left ul li {
        margin-right: 10px;
        font-size: 13px
    }
}

.header-area .header-top .header-info-right .header-social li {
    display: inline-block
}

.header-area .header-top .header-info-right .header-social li a {
    color: #fff;
    font-size: 16px;
    padding-right: 19px
}

.header-area .header-top .header-info-right .header-social li a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.header-area .header-top .header-info-right .header-social li a:hover i {
    color: #fff;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.header-area .header-bottom {
    padding: 0 210px
}

@media only screen and (min-width:1200px) and (max-width:1600px) {
    .header-area .header-bottom {
        padding: 0 50px
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .header-area .header-bottom {
        padding: 0 50px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-area .header-bottom {
        padding: 15px 20px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-area .header-bottom {
        padding: 15px 20px
    }
}

@media (max-width:575px) {
    .header-area .header-bottom {
        padding: 15px 0
    }
}

.main-header .main-menu ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 18px
}

.main-header .main-menu ul>li:last-child {
    margin: 0
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .main-header .main-menu ul>li {
        margin: 0 12px
    }
}

.main-header .main-menu ul>li a {
    font-family: "DM Sans", sans-serif;
    color: #023c5a;
    font-weight: 700;
    padding: 27px 4px;
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .main-header .main-menu ul>li a {
        font-size: 16px
    }
}

.main-header .main-menu ul>li:hover>a {
    color: #ff3e7e
}

.main-header .main-menu ul>li:hover>a::after {
    left: 0;
    right: auto;
    width: 100%;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.main-header .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 120%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .05);
    padding: 17px 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.main-header .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.main-header .main-menu ul ul.submenu>li:last-child {
    margin: 0 8px
}

.main-header .main-menu ul ul.submenu>li>a {
    padding: 6px 10px!important;
    font-size: 16px;
    color: #1d2547;
    font-weight: 700;
    text-transform: capitalize
}

.main-header .main-menu ul ul.submenu>li>a::after {
    position: unset
}

.main-header .main-menu ul ul.submenu>li>a:hover {
    color: #ff3e7e;
    background: none
}

.main-header .logo {
    float: left
}

.main-header ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.mobile_menu {
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 99
}

.header-btn {
    font-family: "DM Sans", sans-serif;
    border: none;
    padding: 13px 32px!important;
    text-transform: capitalize!important;
    cursor: pointer;
    color: #fff!important;
    display: inline-block!important;
    font-size: 16px!important;
    font-weight: 600!important;
    background: #ff3e7e;
    border-radius: 30px
}

.header-btn:hover {
    color: #f2f2f2!important
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .header-right-btn {
        float: left;
        margin-left: 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .header-right-btn {
        float: left;
        margin-left: 0
    }
}

@media (max-width:575px) {
    .header-right-btn {
        float: left;
        margin-left: 0
    }
}

#navigation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.slider-area {
    margin-top: -1px
}

.slider-area .hero-caption {
    position: relative;
    z-index: 2
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption {
        padding-top: 74px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption {
        padding-top: 27px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption {
        padding-top: 0
    }
}

.slider-area .hero-caption span {
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1.3
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption span {
        font-size: 24px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption span {
        font-size: 33px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption span {
        font-size: 18px
    }
}

.slider-area .hero-caption h1 {
    color: #023c5a;
    font-size: 70px;
    display: block;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-area .hero-caption h1 {
        font-size: 47px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption h1 {
        font-size: 43px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption h1 {
        font-size: 51px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption h1 {
        font-size: 33px;
        margin-bottom: 20px
    }
}

.slider-area .hero-caption p {
    margin-bottom: 42px;
    padding-right: 16px;
    font-size: 20px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption p {
        padding-right: 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption p {
        padding-right: 0
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption p {
        margin-bottom: 32px;
        padding-right: 0;
        font-size: 18px
    }
}

.slider-area .hero-caption.hero-caption2 {
    padding-top: 95px
}

.slider-area .hero-caption.hero-caption2 h2 {
    color: #023c5a;
    font-size: 60px;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        margin-bottom: 20px;
        font-size: 43px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        margin-bottom: 20px
    }
}

@media (max-width:575px) {
    .slider-area .hero-caption.hero-caption2 h2 {
        margin-bottom: 20px;
        font-size: 44px
    }
}

.slider-area .hero-caption.hero-caption2 p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.6
}

@media (max-width:575px) {
    .slider-area .hero-caption.hero-caption2 p {
        font-size: 18px
    }
}

.slider-area .pets-bye {
    background: #fff;
    border-radius: 10px;
    padding: 5px 30px 5px 5px;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .pets-bye {
        padding: 5px 15px 5px 5px
    }
}

@media (max-width:575px) {
    .slider-area .pets-bye {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.slider-area .pets-bye .pets-contact {
    margin-left: 30px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .pets-bye .pets-contact {
        margin-left: 15px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .pets-bye .pets-contact {
        margin-left: 15px
    }
}

@media (max-width:575px) {
    .slider-area .pets-bye .pets-contact {
        margin-left: 0;
        margin-top: 20px
    }
}

.slider-area .pets-bye .pets-contact h2 {
    font-size: 20px;
    margin-right: 100px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-area .pets-bye .pets-contact h2 {
        font-size: 16px;
        margin-right: 24px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-area .pets-bye .pets-contact h2 {
        font-size: 13px;
        margin-right: 16px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-area .pets-bye .pets-contact h2 {
        font-size: 23px;
        margin-right: 15px
    }
}

@media (max-width:575px) {
    .slider-area .pets-bye .pets-contact h2 {
        font-size: 18px;
        margin-right: 15px
    }
    .slider-area .pets-bye .pets-contact h2 br {
        display: none
    }
}

.slider-height {
    height: 965px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-height {
        height: 900px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-height {
        height: 750px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-height {
        height: 800px
    }
}

@media (max-width:575px) {
    .slider-height {
        height: 800px
    }
}

.slider-height2 {
    height: 410px;
    background-repeat: no-repeat;
    background-position: center center
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .slider-height2 {
        height: 400px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .slider-height2 {
        height: 400px
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .slider-height2 {
        height: 400px
    }
}

@media (max-width:575px) {
    .slider-height2 {
        height: 350px
    }
}

.slider-bg2 {
    background-image: url(https://preview.colorlib.com/theme/thepetcare/assets/img/hero/xh2_hero1.png.pagespeed.ic.TwF--nj5CH.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.footer-wrapper {
    position: relative
}

.footer-area .footer-pera p {
    color: #232f55;
    font-size: 16px;
    margin-bottom: 19px;
    line-height: 1.8
}

.footer-area .footer-tittle h4 {
    color: #232f55;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400
}

.footer-area .footer-tittle ul li {
    margin-bottom: 15px
}

.footer-area .footer-tittle ul li a {
    color: #232f55;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline transparent
}

.footer-area .footer-tittle ul li a:hover {
    color: #232f55;
    text-decoration: underline
}

.footer-area .footer-tittle ul li span {
    color: red
}

.footer-area .footer-tittle p {
    color: #232f55;
    font-size: 16px
}

.footer-area .footer-form form {
    position: relative
}

.footer-area .footer-form form input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #232f55;
    border-radius: 30px;
    background: none;
    color: #232f55
}

.footer-area .footer-form form input::placeholder {
    color: #232f55;
    font-size: 16px
}

.footer-area .footer-form form .form-icon button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 17px 22px;
    line-height: 1;
    border-radius: 0 3px 3px 0
}

.footer-area .footer-form form .form-icon button i {
    color: #232f55
}

.footer-area .info.error {
    color: #ff3e7e
}

.footer-bottom-area .footer-border {
    padding-top: 39px;
    padding-bottom: 1px
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer-bottom-area .footer-border {
        padding-top: 0
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer-bottom-area .footer-border {
        padding-top: 0
    }
}

@media (max-width:575px) {
    .footer-bottom-area .footer-border {
        padding-top: 0
    }
}

.footer-bottom-area .footer-copy-right p {
    color: #232f55;
    font-weight: 400;
    font-size: 14px;
    line-height: 2
}

.footer-bottom-area .footer-copy-right p i {
    color: #ff3e7e
}

.footer-bottom-area .footer-copy-right p a {
    color: #ff3e7e
}

.footer-social a {
    color: #677f8b;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 24px
}

.footer-social a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    display: inline-block;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.footer-social a:hover {
    color: #ff3e7e
}

.footer-social a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.blog_area a {
    color: "Fredoka One", cursive!important;
    text-decoration: none;
    transition: .4s
}

.blog_area a:hover,
.blog_area a :hover {
    background: -webkit-linear-gradient(131deg, #ff3e7e 0%, #ff3e7e 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .4s
}

.blog_item {
    margin-bottom: 50px
}

.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0 10px 20px 0 rgba(221, 221, 221, .3)
}

@media (min-width:768px) {
    .blog_details {
        padding: 60px 30px 35px 35px
    }
}

.blog_details p {
    margin-bottom: 30px
}

.blog_details a {
    color: #080808
}

.blog_details a:hover {
    color: #ff3e7e
}

.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px
}

@media (min-width:768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px
    }
}

.blog-info-link li {
    float: left;
    font-size: 14px
}

.blog-info-link li a {
    color: #999
}

.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px
}

.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px
}

.blog-info-link li:last-child::after {
    display: none
}

.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table
}

.blog_item_img {
    position: relative
}

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #ff3e7e;
    padding: 8px 15px;
    border-radius: 5px
}

@media (min-width:768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px
    }
}

.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2
}

@media (min-width:768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px
    }
}

.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff
}

@media (min-width:768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px
    }
}

.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px
}

.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff
}

.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px
}

.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0
}

.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0
}

.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .search_widget .input-group button {
    background: #ff3e7e;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer
}

.blog_right_sidebar .search_widget .input-group button i {
    color: #fff
}

.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999;
    padding-left: 20px;
    border-radius: 0
}

.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none
}

.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0
}

.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all .3s ease 0s;
    padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
    padding-top: 15px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all .3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all .3s ease 0s;
    color: #888;
    font-size: 13px
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #ff3e7e;
    color: #fff!important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s
}

.blog_right_sidebar .instagram_feeds .instagram_row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-right: -6px;
    margin-left: -6px
}

.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0
}

.blog-pagination {
    margin-top: 80px
}

.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0!important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px
}

.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px
}

.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888
}

.blog-pagination .page-item:last-child .page-link {
    margin-right: 0
}

.single-post-area .blog_details {
    box-shadow: none;
    padding: 0
}

.single-post-area .blog_details {
    padding-top: 26px
}

.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px
}

.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, .1);
    padding: 15px;
    line-height: 1.733;
    color: #888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px
}

@media (min-width:768px) {
    .single-post-area .quote-wrapper {
        padding: 30px
    }
}

.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid
}

@media (min-width:768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px
    }
}

.single-post-area .arrow {
    position: absolute
}

.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600
}

.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff
}

.single-post-area .navigation-top p {
    margin-bottom: 0
}

.single-post-area .navigation-top .like-info {
    font-size: 14px
}

.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px
}

.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999
}

.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media (max-width:600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media (max-width:600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #ff3e7e
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}

.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px
}

.single-post-area .navigation-area p {
    margin-bottom: 0
}

.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px
}

.single-post-area .navigation-area .nav-left {
    text-align: left
}

.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: .5
}

@media (max-width:767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px
    }
}

.single-post-area .navigation-area .nav-right {
    text-align: right
}

.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000
}

.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: .5
}

.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px
}

@media (max-width:414px) {
    .comments-area {
        padding: 50px 8px
    }
}

.comments-area h4 {
    margin-bottom: 35px;
    font-size: 18px
}

.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0
}

.comments-area .comment-list {
    padding-bottom: 48px
}

.comments-area .comment-list:last-child {
    padding-bottom: 0
}

@media (max-width:413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px
    }
}

.comments-area .thumb {
    margin-right: 20px
}

.comments-area .thumb img {
    width: 70px;
    border-radius: 50%
}

.comments-area .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 0;
    margin-left: 20px
}

.comments-area .comment {
    margin-bottom: 10px;
    color: #777;
    font-size: 15px
}

.comments-area .btn-reply {
    background-color: transparent;
    color: #888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400
}

.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px
}

.comment-form .form-group {
    margin-bottom: 30px
}

.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px
}

.comment-form .name {
    padding-left: 0
}

@media (max-width:767px) {
    .comment-form .name {
        padding-right: 0;
        margin-bottom: 1rem
    }
}

.comment-form .email {
    padding-right: 0
}

@media (max-width:991px) {
    .comment-form .email {
        padding-left: 0
    }
}

.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent
}

.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none
}

.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999
}

.comment-form .form-control::placeholder {
    color: #777
}

.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100%!important
}

.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777
}

.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777
}

b,
sup,
sub,
u,
del {
    color: #140c40
}