body {
    font-family: "DM Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fredoka One", cursive;
    color: #023c5a;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

p {
    font-family: "DM Sans", sans-serif;
    color: #023c5a;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a {
    color: #635c5c;
}

a:hover {
    color: #fff;
}

a:focus,
a:hover {
    text-decoration: none;
}

a,
button {
    color: #fff;
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.d-none {
    width: 77%;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
}

#header {
    width: 100%;
    height: 40px;
    background-color: #0094df;
}

#header .first {
    width: 80%;
    height: 40px;
    margin: 0 8%;
    display: inline-flex;
    justify-content: space-between;
}

#header .header-info-left .header-social {
    display: flex;
}

#header .header-social li {
    list-style: none;
    line-height: 40px;
    margin-left: 20px;
    font-size: 17px;
}

#header .header-social li i {
    transition: all 0.6s ease-in-out;
}

#header .header-social li i:hover {
    transform: rotateY(180deg);
}

#header .header-info-right ul {
    display: flex;
}

#header .header-info-right ul li {
    list-style: none;
    color: white;
    margin-right: 20px;
    line-height: 40px;
}

#menu {
    background-image: url(https://preview.colorlib.com/theme/thepetcare/assets/img/hero/h2_hero1.png);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu #first {
    width: 77%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    margin: 0 auto;
}

#menu .main-menu #nav {
    display: flex;
    position: relative;
}

#menu .main-menu #nav li {
    list-style: none;
    color: white;
}

#menu .main-menu #nav li a {
    text-decoration: none;
    color: #023c5a;
    margin: 0 20px;
    font-weight: 500;
}

#menu .main-menu #nav li:hover>a {
    color: rgb(255, 62, 126);
}

#menu #nav .submenu {
    width: 180px;
    height: 120px;
    background-color: white;
    box-shadow: 0 10px 20px rgb(2 60 90 / 10%);
    line-height: 40px;
    padding: 0;
    display: none;
}

#menu #nav .submenu a {
    line-height: 40px;
    text-align: left;
}

#menu .main-menu #nav li:hover .submenu {
    display: block;
    position: absolute;
}

#menu #first .main-menu #nav .header-right-btn {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 62, 126);
    border-radius: 50px;
    text-align: center;
    margin-top: 15px;
    line-height: 50px;
}

#menu #first .main-menu #nav .header-right-btn a {
    color: white;
    font-family: "Fredoka One", cursive;
    font-weight: 500;
}

#menu .hero-caption {
    width: 77%;
    height: auto;
    margin: 0 auto;
}

#menu .hero-caption h2 {
    color: #023C5A;
    margin-top: 50px;
    font-size: 54px;
    font-weight: 500;
}

#menu .hero-caption p {
    color: #023C5A;
    font-size: 20px;
    font-weight: 500;
}

#menu #slick-nav {
    display: none;

}

#menu #slick-nav .slick-nav-main .btn {
    width: 100px;
    height: 40px;
    background-color: #4c4c4c;
    margin: 20px 0;
    position: relative;


}

#menu #slick-nav .slick-nav-main .btn:hover #nav {
    display: block;
}

#menu #slick-nav #nav li {
    list-style: none;
}

#menu #slick-nav #nav {
    position: absolute;
    right: 50px;
    width: 300px;
    height: auto;
    background-color: #4c4c4c;
    margin-left: 0;
    margin-top: 10px;
    margin-right: -50px;
    text-align: left;
    padding: 0;
    border-radius: 12px;
    display: none;
}

#menu #slick-nav #nav .header-right-btn {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 62, 126);
    border-radius: 50px;
    text-align: center;
    margin-top: 15px;
    line-height: 50px;
    margin: 15px 20px;
}

#menu #slick-nav #nav .header-right-btn a {
    color: white;
    display: inline-block;
    text-decoration: none;

}

#menu #slick-nav #nav li a {
    color: white;
    display: inline-block;

}

#menu #slick-nav #nav li:hover {
    background-color: whitesmoke;
}

#menu #slick-nav #nav li:hover a {
    color: #023c5a;
}

#menu #slick-nav li>a {
    text-decoration: none;
    color: #023c5a;
    margin: 0 20px;
    line-height: 40px;
    font-weight: 500;
    padding: 0 20px;
}

#menu #slick-nav .slick-nav-main .btn>a {
    color: white;
    line-height: 20px;
    margin: 0 auto;
}


#contact {
    width: 100%;
    height: auto;

}

#contact .main-contact {
    width: 80%;
    height: auto;
    margin: 0 auto;

}

#row {
    width: 77%;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 100px;

}

#row .boxed-btn {
    background: #fff;
    color: #ff3e7e !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border: 1px solid #ff3e7e;
    letter-spacing: 3px;
    text-align: center;
    color: #ff3e7e;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0;
    margin-left: -20px;
}

#row .boxed-btn:hover {
    background: #ff3e7e;
    color: #fff !important;
    border: 1px solid #ff3e7e;
}

#row .boxed-btn:focus {
    outline: none;
}

#row form {
    position: relative;
}

#row .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

#row .col-12 h2 {
    font-family: "Fredoka One", cursive;
    font-weight: 900;
    margin-bottom: 35px;
    font-size: 30px;
    color: #023c5a;
}

#row .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
}

#row .form-group {
    margin-bottom: 30px;
}

#row .contact-info {
    margin-bottom: 25px;
}

#row .contact-info__icon {
    margin-right: 20px;
}

#row .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

#row .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
}

#row .media-body h3 {
    font-family: "Fredoka One", cursive;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
}

#row .media-body h3 a {
    font-family: "Fredoka One", cursive;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 16px;
    color: #2a2a2a;
    text-decoration: none;
}

#row .media-body p {
    font-family: "DM Sans", sans-serif;
    color: #8A8A8A;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

footer .footer-wrapper {
    position: relative;
    background: #eef9ff;
}

footer .footer-padding {
    padding-top: 140px;
    padding-bottom: 10px;
}

footer .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

footer.col-12,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-md-10,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-4,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

footer .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

footer .single-footer-caption mb-50 {
    margin-bottom: 50px;
}

footer .single-footer-caption mb-20 {
    margin-bottom: 20px;
}

footer .mb-35 {
    margin-bottom: 35px;
}

footer .offset-xl-1 {
    margin-left: 8.333333%;
}

footer .mb-10 {
    margin-bottom: 10px;
}

footer .mb-20 {
    margin-bottom: 20px;
}

footer form {
    position: relative;
}

footer input {
    background-color: #eef9ff;
    width: 100%;
    height: 50px;
    color: rgb(35, 47, 85);
    padding: 10px 20px;
    border: 1px solid rgb(35, 47, 85);
    border-radius: 30px;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;

}

footer .footer-area .footer-form form .form-icon button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    line-height: 1;
    background: none;
    border-width: 0px;
    /* border-style: initial;
    border-color: initial;
    border-image: initial; */
    padding: 17px 22px;
    border-radius: 0px 3px 3px 0px;
}

footer .footer-area .footer-tittle ul li a {
    color: rgb(35, 47, 85);
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline transparent;
}

footer .footer-area .footer-tittle ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    margin-bottom: 15px;
}

footer .footer-area .footer-tittle ul li:hover a {
    text-decoration: 1px solid rgb(35, 47, 85);
}

footer .footer-area .footer-tittle h4 {
    margin-bottom: 30px;
    font-family: "Fredoka One", cursive;
    font-weight: 500;
}

footer i {
    color: #212529;
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.6s ease-in-out;
}

footer i:hover {
    transform: rotateY(180deg);
    color: rgb(255, 62, 126);
}

footer .footer-bottom-area {
    margin-top: 50px;

}

footer .footer-bottom-area a {
    color: rgb(255, 62, 126);
    text-decoration: none;
}

footer .footer-bottom-area i {
    color: rgb(255, 62, 126);
}

footer .footer-tittle ul {
    padding: 0;
}

#menu .main-menu #nav li a {
    margin: 0 12px;
}

@media screen and (max-width: 1024px) {
    #menu .main-menu #nav li a {
        margin: 0 12px;
    }
}

@media screen and (max-width: 768px) {
    #menu .main-menu #nav {
        display: none;
    }

    #menu #slick-nav {
        display: block;
    }

}

@media screen and (max-width: 600px) {
    footer .row {
        flex-direction: column;
    }

    footer .offset-xl-1 {
        margin: 0;
    }
}