#slide .col-xl-6, #slide .col-lg-6, #slide .col-md-7 {
    padding-left: 0;
    padding-right: 0;
}

.post-info-link {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 16px;
    margin-bottom: 24px;
}

.quote-wrapper {
    padding: 15px;
}

.quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid rgba(0, 0, 0, 0.61);
    color: #888;
}

.notification-bar .col-md-12.d-flex.justify-content-between {
    flex-direction: column;
    align-items: center;
}

.notification-bar .like-info {
    margin-bottom: 16px;
}

.anavbar-info h4 {
    font-size: 14px;
    max-width: 80px;
}

.next-post .anavbar-info {
    text-align: right;
}


.author-words {
    padding: 20px 8px;
    align-items: center;
}

.bonus-commenter .name a, .box-5 .box-5-header h4 {
    color: #023C5A;
}

@media (min-width: 576px) {
    #slide .col-xl-6, #slide .col-lg-6, #slide .col-md-7 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .notification-bar .col-md-12.d-flex.justify-content-between {
        flex-direction: row;
        align-items: center;
    }

    .notification-bar .like-info {
        margin-bottom: 0;
    }

    .social-icon {
        margin-bottom: 0;
    }

    .anavbar-info h4 {
        font-size: 16px;
        max-width: 120px;
    }

    .list-comment li {
        margin-bottom: 48px;
    }

    .list-tagc, .list-img-if {
        justify-content: flex-start;
    }

}

@media (min-width: 768px) {
    .desc-post-title h2 {
        font-size: 24px;
        margin-bottom: 15px;
        color: #2d2d2d;
    }

    .quote-wrapper {
        padding: 30px;
    }

    .quotes {
        padding: 25px 25px 25px 30px;
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
        font-family: "DM Sans", serif;
    }
    
    #wrapper .quote-chatt {
        right: 60px;
        top: 80px;
        width: 290px;
        font-size: 26px;
        font-family: "Fredoka One", serif; 
        font-style: italic;
        font-weight: 700;
        letter-spacing: 4px;
        color:rgb(217, 230, 32);
        text-align: right;
    }

    .item-essential-food:last-child {
        border-bottom: none;
    }

    .item-recent-post {
        align-items: flex-end;
    }
    

    .list-tagc {
        max-width: 560px;
    }

    .list-img-if {
        justify-content: space-between;
    }

    .item-img-if a {
        display: block;
    }

    .item-img-if {
        margin-left: 6px;
    }

    .item-essential-food span {
        line-height: 30px;
        font-family: "DM Sans",serif;
    }

    .item-recent-post {
        align-items: flex-start;
    }

}

@media (min-width: 1200px) {
    .author-words {
        padding: 40px 30px;
        background: #fbf9ff;
        margin-top: 50px;
    }

        
    #wrapper .quote-chatt {
        right: 150px;
        top: 100px;
        width: 400px;
        font-size: 46px;
    }
}

