html {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none !important;
    transition: all .3s ease-out 0s;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none;
    text-decoration: none;
}

.btn-1 {
    border: none;
    padding: 13px 32px;
    text-transform: capitalize !important;
    cursor: pointer;
    color: #fff !important;
    display: inline-block !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background: #ff3e7e;
    border-radius: 30px;
}


.btn-1:hover {
    color: #f2f2f2 !important;
}

.btn-2 {
    color: #fff !important;
    border: 1px solid #fff;
    display: inline-block;
    padding: 15px 42px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
}

.btn-2:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #ff3e7e !important;
}

.btn-3 {
    background: #ff3e7e;
    font-family: "DM Sans", sans-serif;
    text-transform: capitalize !important;
    padding: 17px 31px;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 500 !important;
    border-radius: 30px;
    line-height: 1;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
}

.about-btn {
    padding: 21px 44px;
}

.wat2 {
    padding: 18px 44px;
    margin-top: 10px;
}

#wrapper .loan-btn {
    box-shadow: inset 0 -10px 0 0 #FF3E7E;
    outline: none;
    z-index: 1;
    border: 0;
    font-weight: normal;
    padding: 21px 44px;
    transition: all 0.25s linear;
}

#wrapper .loan-btn:hover {
    box-shadow: inset 0 66px 0 0 #8f2448b2;
}

.opacity {
    animation-name: opacity;
    animation-duration: 0.8s;
}

@keyframes opacity { 
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.del_opacity {
    animation-name: del_opacity;
    animation-duration: 0.8s;
}

@keyframes del_opacity { 
    0%{opacity: 1;}
    100%{opacity: 0;}
}






/* =============== CSS CHUNG ================= */

.fixed {
    top: 0;
    width: 100%;
    position: fixed!important;
    background-color: #fff;
    z-index: 999999;
    box-shadow: 8px 0 8px 12px rgba(0, 0, 0, 0.178);
    animation-name: fixed_animation;
    animation-duration: 0.8s;
}

@keyframes fixed_animation {
    0%   {
        top:-80px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.ml-20 {
    margin-left: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mt-20 {
    margin-top: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.ai-center {
    align-items: center;
}

.jc-betweens {
    justify-content: space-between;
}

.owl-dots {
    display: none;
}

.genric-btn {
    margin-right: 10px;
    margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
    margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fredoka One", cursive !important;
    color: #023c5a;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

p {
    font-family: "DM Sans", sans-serif;
    color: #023c5a;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.genric-btn:focus {
    outline: none;
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px;
}

.genric-btn.large {
    line-height: 45px;
}

.genric-btn.medium {
    line-height: 30px;
}

.genric-btn.small {
    line-height: 25px;
}

.genric-btn.radius {
    border-radius: 3px;
}

.genric-btn.circle {
    border-radius: 20px;
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.genric-btn.arrow span {
    margin-left: 10px;
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent;
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff;
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff;
}

.genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent;
}

.genric-btn.primary {
    color: #fff;
    background: #140c40;
    border: 1px solid transparent;
}

.genric-btn.primary:hover {
    color: #140c40;
    border: 1px solid #140c40;
    background: #fff;
}

.genric-btn.primary-border {
    color: #140c40;
    border: 1px solid #140c40;
    background: #fff;
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #140c40;
    border: 1px solid transparent;
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff;
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent;
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff;
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent;
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff;
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent;
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff;
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent;
}

.sample-buttons .genric-btn.link {
    text-decoration: underline;
}

.genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent;
}

.genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
}

.genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline;
}

.genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent;
}

.genric-btn.disable {
    color: #fff;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.genric-btn:hover {
    text-decoration: none;
}

.btn:hover {
    color: #fff !important
}

.btn:hover::before {
    transform: scaleY(1);
    z-index: -1;
}

.progress-table-wrap {
    overflow-x: scroll
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0 30px 0;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0;
    background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    color: #828bb2 !important;
}


.unordered-list {
    padding-left: 0;
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

.unordered-list li>ul {
    padding-left: 0;
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #140c40;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
}

.ordered-list {
    margin-left: 30px;
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #140c40;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list li span {
    font-weight: 450;
    color: #828bb2;
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #140c40;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-alpha li span {
    font-weight: 450;
    color: #828bb2;
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #140c40;
    font-weight: 500;
    line-height: 1.82em !important;
}

.ordered-list-roman li span {
    font-weight: 450;
    color: #828bb2;
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input:focus {
    outline: none;
}

.input-group-icon {
    position: relative;
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
}

.input-group-icon .icon i {
    color: #797979;
}

.input-group-icon .single-input {
    padding-left: 45px;
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none;
}

.single-textarea:focus {
    outline: none;
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #140c40;
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55;
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359;
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
}

.input-group-icon .icon i {
    color: #797979;
}

#wp-content .form-control {
    border: 1px solid #fff;
    border-radius: 0;
    color: gray;
    background-color: #f9f9ff;
    transition: all 0s;
}

#wp-content .form-control:focus {
    border: none;
    outline: 0;
    background-color: #f9f9ff;
    box-shadow: none;
}


.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #140c40;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #140c40
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}


.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url('https://preview.colorlib.com/theme/thepetcare/assets/img/elements/primary-check.png.webp') no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url('https://preview.colorlib.com/theme/thepetcare/assets/img/elements/primary-radio.png.webp') no-repeat center center/cover;
    border: none;
}


.confirm-radio input:checked+label {
    background: url('https://preview.colorlib.com/theme/thepetcare/assets/img/elements/success-radio.png.webp') no-repeat center center/cover;
    border: none;
}

/*================================================SERVICE=================================================================*/

.single-slide {
    background-image: url('https://preview.colorlib.com/theme/thepetcare/assets/img/hero/xh2_hero1.png.pagespeed.ic.TwF--nj5CH.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.single-slide>.row {
    margin-right: 0;
    margin-left: 0;
}

#header-top {
    background-color: #0094df;
    color: #fff;
}

#main-menu {
    display: flex;
    align-items: center;
}

.header-info {
    max-height: 40px;
    font-size: 15px;
}

.header-social {
    align-items: center;
    justify-content: space-between;
}

.header-social, .header-info-right {
    margin-bottom: 0;
    padding: 8px 0;
}

.header-social li a {
    color: #fff;
    padding-right: 24px;
}

.header-social li a i, .footer-social li a i {
    transition: all .3s ease-in-out;
}

.header-social li a:hover i, .footer-social li a:hover i {
    transform: rotateY(180deg);
}

.header-info-right li:first-child {
    padding-right: 24px;
}

.header-info-right li i {
    padding-right: 8px;
}

.sub-main-menu {
    display: none;
    position: absolute;
    opacity: 1;
    top: 100%;
    width: 170px;
    background: #fff;
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
    padding: 17px 0;

}

.sub-main-menu>li {
    margin-left: 7px;
    display: block;
}

.sub-main-menu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    color: #1d2547;
    font-weight: 700;
    text-transform: capitalize;
}


.sub-main-menu li:hover a {
    color: #ff3e7e !important;
}

#main-menu li .sub-main-menu {
    transition: all .3 ease-in-out;
}

#main-menu li:hover .sub-main-menu {
    display: block;
}

#header-bottom .nav {
    align-items: center;
}


#main-menu {
    margin-bottom: 0;
}

#main-menu li {
    margin-left: 12px;
    margin-right: 12px;
    position: relative;
}

#main-menu>li:last-child {
    margin-right: 0;
    margin-left: 8px;
}

#main-menu li a {
    display: block;
    padding: 27px 4px;
    color: #023c5a;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
    font-family: "DM Sans", sans-serif;
}

#main-menu>li:hover>a {
    color: #ff3e7e;
}

#main-menu li .btn-1 {
    padding: 13px 32px !important;
}


#wrapper .modal-dialog {
    margin-left: 20%;
}

#wrapper .modal-content {
    min-width: 65vw !important;
    height: auto;
}

#wrapper .modal-body {
    padding: 0;
    margin: -2px;
    position: relative;
}

#wrapper .close-modal,
#wrapper .quote-chatt  {
    position: absolute;
}

#wrapper .close-modal {
    top: 0px;
    right: 10px;
    font-size: 36px;
    color: #fff;
    height: 50px;
    width: 50px;
    padding: 0px 20px;
    font-weight: 900;
}

#wrapper .close-modal:hover {
    color: #fff;
}

#wrapper .quote-chatt {
    right: 150px;
    top: 100px;
    width: 400px;
    font-size: 46px;
    font-family: "Fredoka One", serif; 
    font-style: italic;
    font-weight: 700;
    letter-spacing: 4px;
    color:rgb(217, 230, 32);
    text-align: right;
}


#wrapper .modal-body img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


#slide row {
    justify-content: space-between;
}


.hero-caption {
    padding-bottom: 78px;
    padding-top: 52px;
}

.hero-caption h2 {
    color: #023c5a;
    font-size: 60px;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px;
}

.hero-caption p {
    margin-bottom: 0;
    font-size: 18px;
    padding-right: 16px;
    line-height: 1.6;
    color: #023c5a;
}

#list-services {
    padding: 120px 0;
}

.header-list-services {
    margin-bottom: 60px;
    text-align: center;
}

.header-list-services h2 {
    font-size: 36px;
    color: #023c5a;
}

.body-list-services {
    margin-bottom: 100px;
}

#list-services .body-list-services {
    border-radius: 8px;
    position: relative;
}

#list-services .body-list-services img {
    max-width: 100%;
    height: auto;
}

#wrapper .services-caption {
    transition: all .4s ease-out 0s;
    position: absolute;
    bottom: -65px;
    background: #fff;
    width: 80%;
    padding-top: 34px;
    padding-bottom: 25px;
    padding-left: 29px;
    padding-right: 15px;;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(2 60 90 / 10%);
    border-radius: 10px;
    width: 80%;
}

#wrapper .card-deck .card {
    margin-bottom: 100px;
}

#list-services .services-caption h3 a {
    color: #023c5a;
    font-size: 22px;
    margin-bottom: 14px;
    display: block;
    transition: all .4s ease-out 0s;
    font-weight: 500;
    font-family: "Fredoka One", cursive;
}

#list-services .services-caption h3 a:hover {
    color: #ff3e7e;
}

#list-services .services-caption p {
    margin: 0;
}

.need-help {
    background-image: url('https://preview.colorlib.com/theme/thepetcare/assets/img/gallery/section_bg03.jpg.webp');
    padding: 91px 0;
}

#wp-content .need-help-caption h2 {
    font-size: 44px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 500;
    color: #fff;
}

.need-help-caption p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 37px;
}

#footer {
    background-color: #eef9ff;
}

#footer-top {
    padding: 140px 0 10px 0;
}

#footer-top .box {
    margin-bottom: 50px;
}

#footer-top .header-box {
    margin-bottom: 30px;
}

#footer-top .logo-footer {
    padding-bottom: 5px;
}

#footer-top .header-box h4 {
    color: #232f55;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}

#footer-top a.header-box {
    display: block;
}

#footer a {
    font-family: 'DM Sans', sans-serif;
}

#footer-top .body-box li {
    margin-bottom: 15px;
}

#footer-top .body-box li a {
    color: #232f55;
    font-size: 16px;
    text-decoration: underline transparent;
}

#footer-top .body-box li a:hover {
    color: #232f55;
    text-decoration: underline !important;
}

#footer-top .body-box p {
    color: #232f55;
    font-size: 16px;
}

#footer-top .footer-social li a i {
    color: #677f8b;
    font-size: 20px;
    display: inline-block;
    text-align: center;
}

#footer-top .footer-social li a {
    margin-right: 28px;
}

#footer .send-email {
    position: relative;
}

#footer .send-email input {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #232f55;
    border-radius: 30px;
    background: none;
    color: #232f55;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
    outline: 0;
}

#footer .send-email input::placeholder {
    color: #232f55;
    font-size: 16px
}

#footer .fas.fa-arrow-right {
    position: absolute;
    top: 6px;
    right: 6px;
    display: block;
    padding: 12px 12px;
    border-radius: 30%;
    cursor: pointer;
}

#footer-top ul {
    margin-bottom: 0;
}

#footer-bottom {
    padding-top: 28px;
}

#footer-bottom p {
    color: #232f55;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}

#footer-bottom i, #footer-bottom a {
    color: #ff3e7e;
}


/*================================================ABOUT=================================================================*/

.meaning-of-animals {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('https://preview.colorlib.com/theme/thepetcare/assets/img/gallery/section_bg01.png');
    background-size: cover;
}

.meaning-of-animals .row {
    justify-content: space-between;
}

.movi-moa {
    position: relative;
    width: 100%;
    box-shadow: 0 20px 30px rgb(35 47 85 / 10%);
    border-radius: 20px;
}

.movi-moa img {
    max-width: 100%;
    height: auto;
}

.action-button {
    display: flex;
    align-items: center;
    border-radius: 7px;
    position: absolute;
    bottom: 8%;
    z-index: 1;
    left: 9%;
}

.action-button a {
    background: #fff;
    color: #ff6162;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
}

.action-button a i {
    color: #0094df;
    font-size: 36px;
    line-height: 1;
    position: relative;
    top: 7px;
}

.action-button h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 8px;
    padding-left: 19px;
}

#action-video {
    position: absolute;
    top: 440px;
    overflow: hidden;
    z-index: 1000000;
    left: 0;
    right: 0;
    overflow: hidden;
}

#action-video-1 {
    position: absolute;
    top: 1640px;
    overflow: hidden;
    z-index: 1000000;
    left: 0;
    right: 0;
    overflow: hidden;
}

.embed-responsive {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: none;   
    max-height: 100vh;
    width: auto;
}

.close-video {
    position: absolute;
    top: -1px;
    right: 0px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    z-index: 1000000;
    padding: 5px 9px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #e66815;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    animation-name: zoom_icon;
    animation-duration: 10s;
}

@keyframes zoom_icon {
    0% {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 9px;
        height: 30px;
        width: 30px;
        background-color: yellow;
    }

    10% {
        background-color: blue;
    }

    20% {
        background-color: yellow;
    }

    30% {
        background-color: blue;
    }

    40% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    60% {
        background-color: yellow;
    }

    70% {
        background-color: blue;
    }

    80% {
        background-color: yellow;
    }

    90% {
        background-color: blue;
    }

    100% {
        background-color: yellow;
    }

}

#action-video.container-fluid,
#action-video-1.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: none;   
    max-height: 100vh;
    width: auto;
    display: none;
}

.animal-section {
    display: flex;
    align-items: center;
}

.box-1-header {
    margin-bottom: 20px;
}

.box-1-header h2 {
    font-family: "Fredoka One", cursive;
    color: #023c5a;
    font-size: 44px;
    display: block;
    font-weight: 400;
    margin-bottom: 17px;
}

.box-1-body p {
    font-size: 18px;
}

.emergency-care {
    background-image: url("https://preview.colorlib.com/theme/thepetcare/assets/img/gallery/section_bg02.jpg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.single-emergency {
    padding: 60px 35px 60px 60px;
    background-color: #fff;
    border-radius: 20px;
}

.single-emergency .cat-icon {
    margin-bottom: 25px;
}

.single-emergency h5 {
    font-family: "Fredoka One", cursive;
    color: #023c5a;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

.single-emergency h5 a {
    font-size: 32px;
    font-weight: 500;
    color: #023c5a;
    text-transform: capitalize;
    margin-bottom: 17px;
    display: block;
    transition: all .2s ease-out 0s;
}

.single-emergency h5:hover a {
    color: #ff3e7e;
}

.single-emergency ul {
    padding-bottom: 40px;
}

.personal {
    padding-left: 80px;
}

.personal-opinion {
    padding-top: 115px;
    padding-bottom: 100px;
    position: relative;
}

.owl-stage-outer {
    position: relative;
}

#wp-content .owl-prev, #wp-content .owl-next {
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.owl-next span, .owl-prev span {
    width: 48px;
    height: 48px;
    display: block;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 30px !important;
    font-weight: 600;
    color: #fff;
}

button.owl-next:focus, button.owl-prev:focus {
    outline: none !important;
    border: none !important;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.personal-thumb {
    max-width: 132px;
    margin: auto;

}

.personal-thumb img {
    margin-bottom: 30px;
    width: auto;
}

.testimonial-shape {
    position: absolute;
    right: -83px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.personal-comment p:first-child {
    font-family: "Fredoka One", cursive;
    line-height: 1.5;
    padding-right: 100px;
    margin-bottom: 50px;
    font-size: 26px;
    color: #023c5a;
}

.signature {
    margin-bottom: 0;
}

.signature span {
    font-family: "DM Sans", sans-serif;
    color: #0094df;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

.signature p {
    color: #57667e;
    font-weight: 500;
    line-height: 1.5;
}

/*================================================ELEMENT=================================================================*/
.text-sample {
    padding-top: 70px;
}

.box-2-header h3 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #023c5a;
}

.sample-buttons .box_1170 {
    padding: 70px 15px;
    border-top: 1px dotted #eee;
}

.sample-buttons .box-2-body .row {
    margin-left: 0;
    margin-right: 0;
}

.card {
    border: none !important;
}

.right-aligned {
    text-align: right;
}

.definition .box-2-2-header h4, .section-top-border h3 {
    color: #023c5a;
}

span.padding {
    padding-bottom: 10px;
    display: block;
}

.content-bq {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #140c40;
    margin: 0 0 1rem;
    line-height: 24px;
    font-family: "DM Sans", sans-serif;
}

.image-gallery .box-2 img {
    max-width: 100%;
    height: auto;
}

#wrapper .image-gallery .content {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }

#wrapper .image-gallery   .content a {
    display: block;
    padding: 0 15px;
    height: 200px;
    margin-top: 30px;
  }

#wrapper .image-gallery  .content a img {
    width: 100%;
    height: 200px;
   object-fit:cover;
  }

.default-select select {
    border: none !important;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px;
}

.default-select:focus-visible select {
    border: none !important;
}

.confirm-radio input:checked+label {
    border-radius: 50%;
}

.fancybox-content {
    transform: translate(6%, 15%) scale(1, 1)!important;
    opacity: 1;
    width: 90%!important;
    height: 85%!important;
}

#back-top {
    background: #ff3e7e;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgb(143, 143, 143);
    display: none;
}

#back-top a {
    color: #fff;
    outline: none;
    border: none;
}

#back-top a i {
    display: block;
    line-height: 50px;
    font-weight: 900;
}

/*================================================SERVICE=================================================================*/

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}